.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    background: transparent;
    align-items: center;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.link {
    display: flex;
    gap: 30px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.nav-link:hover {
    color: rgb(169, 102, 102);
    text-decoration-line: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .link {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background: rgba(255, 255, 255, 0.95);
        padding: 15px 25px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .link.active {
        display: flex;
    }
}